:root {
    line-height: 1.2;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ol[role='list'],
ul[role='list'] {
    list-style: none;
    padding-inline: 0;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#header{
    color: #eee;
    min-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/heshan-perera-5gXNgMqUUpc-unsplash.jpg);
}

.header-container{
    text-shadow: 0 0 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    box-shadow: 
    0 25px 25px -10px inset rgba(20, 20, 20, 0.5),
    0 -25px 25px -10px inset rgba(20, 20, 20, 0.5);
    width: 100%;
}

.odin-logo{
    width: 5rem;
    transform: skewX(-10deg);
}

.header{
    font-size: 5rem;
    font-style: italic;
}

.photo-credit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.5);
}

.credit > a {
    color:#eee;
}